PORT=5000
NODE_ENV=development

# Database Connection
MONGODB_URI=mongodb+srv://saad489254_db_user:d5VI59u3Flc58MTW@cluster0.dpvsoqi.mongodb.net/naiai_lms?retryWrites=true&w=majority&appName=Cluster0

# Authentication & Security
JWT_SECRET=naiai_lms_super_secret_jwt_key_2026_moitt_secure
JWT_EXPIRES_IN=7d

# App Settings
APP_NAME="National AI Advancement Initiative LMS"
FRONTEND_URL=http://localhost:5173
